@tailwind base;
@tailwind components;
@tailwind utilities;

/*Css code Joris DR*/
* {
    /* colors */
    --primary-color: #eee;
    --secondary-color: #00162b;
    --card-color: #000f1d;
    --accent-color: #04f5fd;
    --focus-color: #5185e9;
  
    /* sizes */
    --title: 3em;
    --subtitle: 2.5em;
    --icons: 2.3em;
    --number: 2em;
    --smalltitle: 1.5em;
    --quote: 1.2em;
    --body: 1em;
    --list: 0.8em;
  
    /* weights */
    --bold: 700;
    --semi-bold: 600;
    --regular: 400;
  
    /* font-families */
    --poppins: "Poppins", sans-serif;
    --Roboto: "Roboto Mono", monospace;
    --gradient: linear-gradient(
      14deg,
      rgba(4, 245, 253, 1) 0%,
      rgba(0, 177, 245, 1) 50%,
      rgba(81, 133, 233, 1) 100%
    );
    --gradient-old: rgb(4, 245, 253);
  }